* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins"Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*:focus {
    outline: none;
}

/* Nav-bar-section---------------> */
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

/* Nav-bar-section-Logo-part---------------> */

.small-menu {
    display: none
}

.logos {
    display: flex;
}

.logo img {
    width: 90px;
    display: inline-block;
    margin-top: 3px;
}

.toggles span {
    width: 35px;
    height: 35px;
    text-align: center;
    display: grid;
    align-items: center;
    margin-right: 18px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 50%;
    margin-top: -5px;
}

.toggles span:hover {
    background-color: #ccc;
}

/* Nav-bar-section-search-parrt---------------> */
.search-box {
    padding: 10px;
}

.micro {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    border-radius: 50%;
}

.micro:hover {
    background-color: #dfdcdc;
}

.search-box input {
    width: 540px;
    padding: 10px 15px;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: -5px;
}

.search-btn {
    padding: 10px 15px;
    border-radius: 0px 30px 30px 0px;
    width: 65px;
    font-size: 16px;
    border: 1px solid #dfdcdc;
    background: transparent;
    color: rgb(180, 177, 177);
    margin-right: 10px;
    cursor: pointer;
}

/* Nav-bar-section-user-options---------------> */
.user-options {
    margin-right: 25px;
}

.user-options img {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    padding: 7px 7px;
    margin-right: 10px;
}

.dp {
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    background-color: transparent;
}

.user-options img:hover {
    background-color: #dfdcdc;
    border-radius: 50%;
}

/* --------------side-bar---------------> */
.side-bar {
    min-width: 230px;
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 70px;
    padding: 10px 10px;
}

.side-bar:hover {
    overflow-y: scroll;
}

.side-bar h4 {
    font-size: 17px;
}

.links,
h4 {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.links img {
    margin-right: 25px;
}

.sub {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: -10px;
}

.links span {
    margin-right: 25px;
    font-size: 20px;
}

.links:hover {
    background-color: #e7e4e4;
    border-radius: 5px;
    transition: 0.3s;
}

.separator {
    margin: 15px 0;
    border: 1px solid #e7e4e4;
}

.large-container {
    left: 120px;
}

.filter {
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    text-transform: capitalize;
    z-index: 999;
    background-color: #ffff;
}

.filter::-webkit-scrollbar {
    display: none;
}


.item {
    padding: 8px 15px;
    flex: 0 0 auto;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.item:hover {
    background-color: #e2dfdf;
}

.item.active {
    background-color: black;
    color: white;
}

/* videos */
.videos-container {
    position: relative;
    top: 8rem;
    width: calc(100% - 250px);
    left: 230px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.filter-container {
    left: 120px;
    width: 100%;
    overflow-x: hidden;
}

.large-container {
    left: 190px;
    overflow-x: hidden;
}

.video {
    width: 335px;
    height: auto !important;
    border-radius: 10px;
    min-height: 250px;
    margin-left: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 10px;
}

.content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    position: relative;

}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
    height: 40px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

.chanel-name {
    font-size: 15px;
    color: #8b8a8a;
    margin-left: 5px;
    display: block;
    margin-top: -15px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1326px) {
    .video {
        width: 320px;
    }

    .title {
        width: 250px;
    }
}

@media only screen and (max-width: 1285px) {
    .video {
        width: 300px;
    }

    .search-box input {
        width: 350px;
    }

    .title {
        width: 210px;
    }
}

@media only screen and (max-width: 1254px) {
    .video {
        width: 290px;
    }

    .search-box input {
        width: 550px;
    }

    .title {
        width: 210px;
    }
}

@media only screen and (max-width: 1212px) {
    .video {
        width: 280px;
    }

    .search-box input {
        width: 450px;
    }

    .title {
        width: 210px;
    }
}


@media only screen and (max-width: 1156px) {
    .video {
        width: 260px !important;
        height: 150px !important;
    }

    .search-box input {
        width: 450px;
    }

    ;

    .title {
        width: 210px;
    }
}

@media only screen and (max-width: 1186px) {
    .video {
        width: 270px;
    }

    .search-box input {
        width: 550px;
    }

    .title {
        width: 200px;
    }
}

@media only screen and (max-width: 1126px) {
    .video {
        width: 250px !important;
    }

    .search-box input {
        width: 450px;
    }

    .title {
        width: 180px;
    }
}

@media only screen and (max-width: 1098px) {
    .video {
        width: 240px !important;
    }

    .search-box input {
        width: 450px;
    }

    .title {
        width: 180px;
    }
}

@media only screen and (max-width: 1075px) {
    .video {
        width: 240px;
    }

    .search-box input {
        width: 450px;
    }

    .title {
        width: 200px;
    }
}

@media only screen and (max-width: 1062px) {
    .video {
        width: 230px !important;
    }

    .search-box input {
        width: 450px;
    }

    .title {
        width: 150px;
    }
}

@media only screen and (max-width: 1026px) {
    .video {
        width: 220px !important;
    }

    .search-box input {
        width: 250px;
    }

    .title {
        width: 150px;
    }
}

@media only screen and (max-width: 800px) {
    .video {
        width: 200px;
    }

    .search-box input {
        width: 250px;
    }

    .title {
        width: 230px;
    }
}



@media only screen and (max-width:400px) {
    .video {
        width: 100% !important;
    }

    .search-box input {
        width: 168px;
        font-size: 12px;
    }

    .search-btn {
        width: 50px;
        margin-right: 10px;
        text-align: center;
        font-size: 12px;
    }

    .title {
        width: 230px;
    }

    .videos-container {
        position: relative;
        top: 8rem;
        width: 93% !important;
        left: 0px;
        padding: 20px;
        overflow-x: hidden;
        z-index: -10 !important;
    }

    .side-bar {
        min-width: 200px;
        width: 15%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 60px;
        padding: 10px 10px;
        z-index: 10;
    }

    .menu-icon {
        font-size: 18px !important;
        margin-right: 5px !important;
        margin-left: 5px !important;
    }

    .logo img {
        width: 70px;

    }

    .user-options {
        display: none;
    }

    .micro {
        display: none;
    }

    .filter {
        left: 0px !important;
        width: 100%;
        overflow-x: hidden;
        z-index: -1;
    }

    .small-menu body {
        background-color: black !important;
    }
}



@media only screen and (max-width:360px) {
    .video {
        width: 100% !important;
    }

    .search-box input {
        width: 150px;
    }

    .search-btn {
        width: 40px;
        margin-right: 10px;
        text-align: center;
    }

    .title {
        width: 230px;
    }

    .videos-container {
        position: relative;
        top: 8rem;
        width: 93% !important;
        left: 0px;
        padding: 20px;
        overflow-x: hidden;
        z-index: -10 !important;
    }

    .side-bar {
        min-width: 200px;
        width: 15%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 60px;
        padding: 10px 10px;
        z-index: 10;
    }

    .menu-icon {
        font-size: 18px !important;
        margin-right: 0 !important;
        margin-left: 5px !important;
    }

    .logo img {
        width: 80px;
        height: 20px;
    }

    .user-options {
        display: none;
    }

    .micro {
        display: none;
    }

    .filter {
        left: 0px !important;
        width: 100%;
        overflow-x: hidden;
        z-index: -1;
    }

    .small-menu body {
        background-color: black !important;
    }
}